In [5]:
f = fopen('~/tmp/TTMLogStream_2017_05_24.csv', 'r')

f =  3

In [9]:
ttm = csvread( '~/tmp/TTMLogStream_2017_05_24.csv');

In [16]:
[r,c] = size(ttm);
r

r =  57472

In [24]:
dd = ttm(4,:)
dd

dd =

 Columns 1 through 6:

     0.00000   111.00000    -0.00025     0.00000     0.00012     0.00000

 Columns 7 through 12:

     0.00080     0.00000    -0.00101     0.00000     1.00000     1.00000

 Columns 13 through 18:

     0.00000     0.00075    -0.00088     0.00080    -0.00101   222.00000

 Columns 19 through 24:

    -0.00019     0.00000    -0.00009     0.00000     0.00096     0.00000

 Columns 25 through 30:

     0.00099     0.00000     1.00000     1.00000     0.00000     0.00081

 Columns 31 through 36:

     0.00091     0.00096     0.00099   333.00000    -0.00050     0.00000

 Columns 37 through 42:

     0.00001     0.00000    -0.00085     0.00000     0.00090     0.00000

 Columns 43 through 48:

     0.00000     1.00000     0.00000    -0.00050     0.00101    -0.00085

 Columns 49 through 54:

     0.00090   444.00000     0.00039     0.00000     0.00032     0.00000

 Columns 55 through 60:

    -0.00069     0.00000    -0.00071     0.00000     1.00000     1.00000

 Columns 61 through 65:

     0.00000    -0.00061    -0.00068    -0.00069    -0.00071

dd =

 Columns 1 through 6:

     0.00000   111.00000    -0.00025     0.00000     0.00012     0.00000

 Columns 7 through 12:

     0.00080     0.00000    -0.00101     0.00000     1.00000     1.00000

 Columns 13 through 18:

     0.00000     0.00075    -0.00088     0.00080    -0.00101   222.00000

 Columns 19 through 24:

    -0.00019     0.00000    -0.00009     0.00000     0.00096     0.00000

 Columns 25 through 30:

     0.00099     0.00000     1.00000     1.00000     0.00000     0.00081

 Columns 31 through 36:

     0.00091     0.00096     0.00099   333.00000    -0.00050     0.00000

 Columns 37 through 42:

     0.00001     0.00000    -0.00085     0.00000     0.00090     0.00000

 Columns 43 through 48:

     0.00000     1.00000     0.00000    -0.00050     0.00101    -0.00085

 Columns 49 through 54:

     0.00090   444.00000     0.00039     0.00000     0.00032     0.00000

 Columns 55 through 60:

    -0.00069     0.00000    -0.00071     0.00000     1.00000     1.00000

 Columns 61 through 65:

     0.00000    -0.00061    -0.00068    -0.00069    -0.00071

In [11]:
whos

Variables in the current scope:

   Attr Name        Size                     Bytes  Class
   ==== ====        ====                     =====  =====
        ans         1x5                          5  char
        d           0x0                          0  double
        f           1x1                          8  double
        ttm     57472x65                  29885440  double

Total is 3735686 elements using 29885453 bytes